* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique';
    background-color: #E9E7E7;
}

.logo {
    margin: 0 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50px;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 30px 3%;
  }
  
  .navbar {
    list-style: none;
  }
  
  .navbar li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .navbar li a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
  }
  
  .navbar li a:hover {
    color: rgb(177, 158, 135);
  }

  #blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }

  .blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .blog-heading span {
    color: #7c6d67;
  }

  .blog-heading h3 {
    font-size: 2.4rem;
    font-weight: 600;
   }

   .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    width: 80%;
   }

   .blog-box {
    width: 350px;
    background-color: #f5f2f2;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
   }

   .blog-box:hover {
    background-color: #ffffff;
    transition: all ease 0.3s;
   }

   .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   }

   .blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
   }

   .blog-text span {
    color:#7c6d67;
    font-size: 0.9rem;
    margin-bottom: 10px;
   }

   .blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
   }

   .blog-text .blog-title:hover {
    color: #7c6d67;
    transition: all ease 0.3s;
   }

   .blog-text p {
    color: #7c6d67;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
   }
  
   .blog-text a{
    font-weight: 600;
    color: black;
    text-decoration: none;
   }

   .blog-text a:hover {
    color: #7c6d67;
    transition: all ease 0.3s;
   }

   .blog-highlight {
    width: 70%;
    background-color: #E9E7E7;
    border: #7c6d67 1px;
    margin-bottom: 60px;
   }

   .col {
    width: 49%;
    display: inline-block;
   }

   .blog-highlight img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    padding-right: 50px;
    padding-top: 50px;
   }

   .highlight-title {
    font-size: 1.9rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-top: -25px;
   }

   .col button {
    font-size: 15px;
    width: 100%;
    height: 50px;
    border: 1px #716f6f solid;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  .col button:hover {
    background-color: rgb(167, 146, 146);
    color: white;
    border: white;
  }

  .footer {
    padding: 10px 80px 10px 80px;
    background-color: #F5F3F2;
  }
  
  .sitemap {
    background-color: #F5F3F2;
  }
  
  .sitemap li {
    display: inline-block;
    margin: 0px 20px;
  }
  
  .sitemap li a {
    text-decoration: none;
    color: #716f6f;
    background-color: #F5F3F2;
  }
  
  .footer p {
    margin-left: 60px;
    color: #716f6f;
    background-color: #F5F3F2;
  }
  
  